* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "urw geometric";
  scroll-behavior: smooth;
}

body {
  background-image: url(./img/team.png);
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  background-color: transparent;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;

  li {
    display: inline;
    margin-right: 40px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid transparent;
  }

  .menu a:hover {
    transition: all 0.5s ease;
    border-bottom: 2px solid #8cc05f;
    color: #8cc05f;
  }
}

section {
  align-items: center;
  padding-bottom: 100px;
  padding-top: 160px;

  .sobre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  h2 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin-top: 190px;
  }

  .begreen {
    color: #8cc05f;
  }

  p {
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
    width: 447px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  button {
    background-color: #8cc05f;
    border-radius: 50px;
    border: none;
    padding: 15px;
    margin-top: 30px;

    &:hover {
      background-color: #f5f6fa;
      transform: scale(1.1);
      transition: all 0.7s ease;
    }
  }

  .mktext button a {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1em;
    font-size: 19px;
    line-height: 2.1em;
    font-weight: bold;

    &:hover {
      color: black;
      font-weight: bold;
    }
  }

  img {
    width: 80%;
  }

  .banner {
    position: relative;
    bottom: 510px;
    width: 100%;
    left: 400px;
  }
}

/* ABOULT */
#about {
  .cases {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7em;
    margin-top: 175px;
  }

  .who {
    margin-top: 50px;
  }

  .casesbtn {
    padding: 3px;

    a {
      font-size: 16px;
      letter-spacing: 0;
      padding: 18px;
      text-align: center;
      letter-spacing: 0.1em;
    }
  }
}

/* QUADRO DE AVISOS */
.avisos {
  margin-top: 90px;
  margin-right: 5px;
  margin: 0 auto;

  h2 {
    position: relative;
    right: 50%;
    bottom: 80px;
  }

  p {
    position: relative;
    left: 10%;
    bottom: 20px;
    font-weight: lighter;
  }
}
.quadro {
  margin-top: 100px;
  position: absolute;
  left: 50px;
  width: 90%;
  align-items: center;
}

/* SOLUTION */
.soluction {
  margin-top: 100px;
  text-align: center;

  p {
    font-weight: lighter;
    font-size: 25px;
    width: 100%;
  }

  .gestao {
    position: relative;
    right: 200px;
    bottom: 100px;
    width: 140%;
    align-items: center;
  }
}

/* CASES */
.case {
  width: 100%;
  margin-top: 30px;
  margin: 0;

  button {
    position: relative;
    top: 110px;
    right: 0;
    z-index: 1000;
    letter-spacing: 0.1rem;
    cursor: pointer;

    &:hover {
      background-color: #f5f6fa;
    }

    a {
      text-transform: uppercase;
      font-weight: bold;
    }

    &:hover a {
      color: black;
    }
  }

  img {
    position: relative;
    bottom: 300px;
    right: 100px;
    width: 120%;
  }
}

/* CONTATO */
#contato {
  display: block;
  width: 100%;
  align-content: center;
  align-items: center;

  button {
    background-color: transparent;
    border: 1px solid #8cc05f;
    text-transform: uppercase;
    padding: 8px 80px;

    a {
      font-size: 12px;
    }
  }
  .wpp {
    padding: 8px 85px;
  }

  .cont {
    position: relative;
    bottom: 250px;
    left: 0;
  }

  .maps iframe {
    border-radius: 50px;
  }
}

@media (max-width: 676px) {
  header {
    nav {
      display: none;
    }
  }

  .container {
    max-width: 90%;
    width: 100%;
    display: block;
  }

  /* HOME */
  #home {
    max-width: 80%;
    width: 100%;
    padding-top: 30px;
    display: block;

    h2 {
      width: 550px;
      text-align: center;
      margin-left: 30px;
      font-size: 50px;
    }

    p {
      align-items: center;
      width: 100%;
      font-size: 30px;
    }

    .mktext {
      max-width: 100%;
      width: 500px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 60px;
      line-height: 3em;
    }

    button a {
      font-size: 23px;
    }

    .banner {
      position: relative;
      top: 30px;
      left: 0;
      width: 600px;
    }
  }

  /* ABOUT */
  #about {
    width: 100%;

    .cases{
      display: block;
      align-items: center;

      button a {
        font-size: 23px;
      }
    }
    
    .mktext {
      padding: 0;
      /* max-width: 100%; */
      line-height: 3em;
    }

    h2 {
      text-align: center;
      align-items: center;
      margin-left: 30px;
      font-size: 50px;
      width: 500px;
    }
    
    p {
      align-items: center;
      width: 180%;
      font-size: 30px;
    }

    
  }

  /* AVISOS */
  #aviso {
    padding: 0;

    .avisos {
      h2, p {
        position: relative;
      }

      h2 {
        width: 200px;
        font-size: 25px;
        left: 100px;
        top: 130px;
      }

      p {
        width: 200px;
        font-size: 15px;
        left: 290px;
        top: 20px;
      }
    }

    .quadro {
      position: relative;
      left: -25px;
      bottom: 480px;
      width: 210%;
    }
  }

  /* SOLUCTIONS */
}
